@import "tailwindcss";

@theme {
  --font-body: "Open Sans";
  --font-header: "Bungee";
  --color-main: #2d1e17;
  --color-accent: #d4af37;
  --color-body: #f5f5dc;

  --color-shadow: #0a0504;
  --color-imgBorder: #140d0c;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
